/*

	template: Artificial Intelligence
	author: luka cvrk (www.solucija.com)
	
*/

body { 
	margin: 0; 
	padding: 0; 
	background: #fff url(images/bg.gif) repeat-x; 
	font: normal .7em Tahoma, Verdana, Arial, Helvetica, Sans-Serif; 
	line-height: 1.6em; 
	color: #333; 
}

/* LINKS AND HEADINGS STYLING */

a { color: #546F92; background: inherit; }
h1  { font: bold 2em "Trebuchet MS", Helvetica, Sans-Serif; margin: 0; color: #fff; background-color:transparent; }
h2  { font: bold 1.4em "Trebuchet MS", Helvetica, Sans-Serif; }
h3 { clear: both; font-size: 1.1em; color: #a00; background: #fff no-repeat center left; padding: 0 14px; margin: 0;}
.blue { color: #546F92; background: inherit; }
.image { float: left; border: 2px solid #e2e2e2; padding: 3px; margin: 0 15px 10px 0; }

/* CONTENT WRAPPER */

#main { 
	width: 800px; 
	margin: 25px auto 0 auto; 
}

#logo { 
	float: left; 
	padding: 10px 0 10px 10px; 
}
	#logo h1 { color: #000; background: #fff; }

#intro_left {
	clear: left;
	float: left;
	width: 250px;
	background: #8D9CAF url(images/leftintrobg.gif) repeat-x;
	color: #E5EAF2;
	margin: 0 0 1px 0;
}
	
#left {
	float: left;
	width: 250px;
}
	.box {
		padding: 4px 15px;
		border: 1px solid #ccc;
		margin: 0 0 10px 0;
	}
	.note {
		padding: 15px 15px 20px 100px;
		border: 1px solid #CFCB66;
		margin: 0 0 5px 0;
		background: #FFFFAD url(images/package.gif) no-repeat;
		color: #585616;
	}
	.special {
		clear: both;
		margin:0px 0 20px 0;	
		padding: 5px 20px;
		border: 1px solid #ccc;
		background: #eee;
		color: #444;
	}

/* FOOTER */

#footer { clear: both; padding: 5px; border-top: 1px solid #ccc; }
body
{
	font-family: arial, helvetica, sans-serif;
}
#itsthetable	{
		background: #F0F0F0 url(back01.gif) no-repeat;
		}

table		{
		margin: 0;
		padding: 0;
		font: normal 0.9em tahoma, arial, sans-serif;
		line-height: 1.4em;
		border-collapse: collapse;
		border: 1px solid #ADBBCA;
		color: #4F6480;
		background: #F0F0F0;
		}
		


table caption	{
		margin: 0;
		height: 32px;
		padding: 0;
		color: #C4CFDB ;
		line-height: 0.2em;
		text-align: left;
		font: bold 150% georgia, serif;
		text-transform: uppercase;
		letter-spacing: 0.14em;
		}
		
table .depends {
        margin: 0;
        padding: 0px 0px 0px 0px;
        height: 4px;
        width: 4px;
        color: #FFFFF0;
        letter-spacing: 0.0em;
}

thead		{
		color: #fff;
		background: #C4CFDB;
		}
		
thead tr th	{
		padding: 4px 8px 4px 8px;
		}

		
thead th	{
		border: 0px solid #ADBBCA;
		}

tfoot		{
		background: #fff;
		}
		
tfoot tr td, tfoot tr th, tbody tr td	{
		padding: 8px;
		}
		
tbody tr	{
		border: 1px solid #ADBBCA;
		}
		
tbody th	{
		padding: 8px;
		border: 1px solid #ADBBCA;
		}
		
tbody td	{
		background: #E9ECEE;
		}

tbody tr.odd		{
		background: #C4CFDB;
		}
		
tbody tr.odd td		{
		background: #F0F0F0;
		color: #4F6480;
		}
		
