<!-- start footer -->
<div id="footer">
                                                                    <p class="legal">
                                                                            &copy;2010 Port-Sandbox. All Rights Reserved.
                                                                                    &nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                                                                            Made By <a href="http://www.arjmobile.com/">Araujo</a>
                                                                                                            </div>
                                                                                                            <!-- end footer -->

