<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/  DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Port-Sandbox</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<div id="main">
  <div id="logo">
      <h1>Port-<span class="blue">Sandbox</span></h1>
  </div>
    <div class="box">
    <h1>Teste 2</h1>
    </div>
    <div class="box">
    <h3>Ports On Queue <span class="blue">|</span> Jails <span class="blue">|</span> Fails</h3>
    </div>
</div>
