<div id="overDiv" style="position:absolute; visibility:hide; z-index:1;">
</div>
<script  language="javascript" src="../java/overlib.js"> 
</script>

<center><table width=800>
<right><td align="right"><b>Legend: </b>
[ <a>NOK: <img src="../images/red.png" alt="Error" width="15"/></a> ]
[ <a>OK: <img src="../images/green.png" alt="OK" width="15"/></a> ]
</right></td></center></table><p></p>
<center><table width=800>
<thead>
<tr>
    <th class="caption"> Date </th>
    <th class="caption"> Classification </th>
    <th class="caption"> Port </th>
    <th class="caption"> No Package </th>
    <th class="caption"> No Cdrom </th>
    <th class="caption"> Restricted </th>
    <th class="caption"> Forbidden </th>
    <th class="caption"> Broken </th>
    <th class="caption"> Deprecated </th>
    <th class="caption"> Ignore </th>
</tr>
</thead>
<tbody>
    #for $line in $NoBuild
        #for $date in $Date
            #if $date[0] == $line[0]
                #set $Date_Show = $date[1]
            #end if
        #end for
        #set $Port = $line[1].split('ports/')
        #if $line[2] == 'Main'
            <tr>
                <td><center><b>$Date_Show</a></b></center></td>
                <td><center><b>Main Port</a></b></center></td>
                <td><center><b>$Port[1]</b></center></td>
                #if $line[3] == 1
                    <td><center><a href="javascript:void(0);" onmouseover="return dls('$line[9]');" onmouseout="return nd();"><img src="../images/red.png" alt="Error" width="15"/></a></center></td>
                #else
                    <td><center><img src="../images/green.png" alt="Error" width="15"/></center></td>
                #end if
                #if $line[4] == 1
                    <td><center><a href="javascript:void(0);" onmouseover="return dls('$line[10]');" onmouseout="return nd();"><img src="../images/red.png" alt="Error" width="15"/></a></center></td>
                #else
                    <td><center><img src="../images/green.png" alt="Error" width="15"/></center></td>
                #end if
                #if $line[5] == 1
                    <td><center><a href="javascript:void(0);" onmouseover="return dls('$line[11]');" onmouseout="return nd();"><img src="../images/red.png" alt="Error" width="15"/></a></center></td>
                #else
                    <td><center><img src="../images/green.png" alt="Error" width="15"/></center></td>
                #end if
                #if $line[6] == 1
                    <td><center><a href="javascript:void(0);" onmouseover="return dls('$line[12]');" onmouseout="return nd();"><img src="../images/red.png" alt="Error" width="15"/></a></center></td>
                #else
                    <td><center><img src="../images/green.png" alt="Error" width="15"/></center></td>
                #end if
                #if $line[7] == 1
                    <td><center><a href="javascript:void(0);" onmouseover="return dls('$line[13]');" onmouseout="return nd();"><img src="../images/red.png" alt="Error" width="15"/></a></center></td>
                #else
                    <td><center><img src="../images/green.png" alt="Error" width="15"/></center></td>
                #end if
                #if $line[8] == 1
                    <td><center><a href="javascript:void(0);" onmouseover="return dls('$line[14]');" onmouseout="return nd();"><img src="../images/red.png" alt="Error" width="15"/></a></center></td>
                #else
                    <td><center><img src="../images/green.png" alt="Error" width="15"/></center></td>
                #end if
                #if $line[16] == 1
                    <td><center><a href="javascript:void(0);" onmouseover="return dls('$line[15]');" onmouseout="return nd();"><img src="../images/red.png" alt="Error" width="15"/></a></center></td>
                #else
                    <td><center><img src="../images/green.png" alt="Error" width="15"/></center></td>
                #end if
            </tr>
        #for $compare in $NoBuild
            #if $compare[0] == $line[0]
                #if $compare[2] != 'Main'
                    #set $Port = $compare[1].split('ports/')
                    <td><center><b></a></b></center></td>
                    <td><center><i><font color="red">$compare[2]</i></font></center></td>
                    <td><center><i><font color="red">$Port[1]</font></i></center></td>
                #if $compare[3] == 1
                    <td><center><a href="javascript:void(0);" onmouseover="return dls('$compare[9]');" onmouseout="return nd();"><img src="../images/red.png" alt="Error" width="10"/></a></center></td>
                #else
                    <td><center><img src="../images/green.png" alt="Error" width="10"/></center></td>
                #end if
                #if $compare[4] == 1
                    <td><center><a href="javascript:void(0);" onmouseover="return dls('$compare[10]');" onmouseout="return nd();"><img src="../images/red.png" alt="Error" width="10"/></a></center></td>
                #else
                    <td><center><img src="../images/green.png" alt="Error" width="10"/></center></td>
                #end if
                #if $compare[5] == 1
                    <td><center><a href="javascript:void(0);" onmouseover="return dls('$compare[11]');" onmouseout="return nd();"><img src="../images/red.png" alt="Error" width="10"/></a></center></td>
                #else
                    <td><center><img src="../images/green.png" alt="Error" width="10"/></center></td>
                #end if
                #if $compare[6] == 1
                    <td><center><a href="javascript:void(0);" onmouseover="return dls('$compare[12]');" onmouseout="return nd();"><img src="../images/red.png" alt="Error" width="10"/></a></center></td>
                #else
                    <td><center><img src="../images/green.png" alt="Error" width="10"/></center></td>
                #end if
                #if $compare[7] == 1
                    <td><center><a href="javascript:void(0);" onmouseover="return dls('$compare[13]');" onmouseout="return nd();"><img src="../images/red.png" alt="Error" width="10"/></a></center></td>
                #else
                    <td><center><img src="../images/green.png" alt="Error" width="10"/></center></td>
                #end if
                #if $compare[8] == 1
                    <td><center><a href="javascript:void(0);" onmouseover="return dls('$compare[14]');" onmouseout="return nd();"><img src="../images/red.png" alt="Error" width="10"/></a></center></td>
                #else
                    <td><center><img src="../images/green.png" alt="Error" width="10"/></center></td>
                #end if
                #if $compare[16] == 1
                    <td><center><a href="javascript:void(0);" onmouseover="return dls('$compare[15]');" onmouseout="return nd();"><img src="../images/red.png" alt="Error" width="10"/></a></center></td>
                #else
                    <td><center><img src="../images/green.png" alt="Error" width="10"/></center></td>
                #end if
                #end if
            #end if
        #end for
        #end if
    #end for
</center>
</tbody></table>
<br></br>
